
.contact {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    &-form {
        position: relative;
        overflow: visible;
        max-width: 469px;
        width: 100%;
        margin: 0 auto;
        background: rgba($color-primary-rgb, .09);
        border: 1px solid rgba(255, 255, 255, .13);
        padding: 32px;

        & form {
            overflow: visible;
        }

        & .field {
            text-align: left;
        }

        & label {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: $letter-spacing;
            text-transform: uppercase;
            color: $color-primary;
        }

        & input,
        & textarea {
            width: 100%;
            background: $color-bg;
            color: $color-muted-text;
            border: 1px solid $color-bg;
            padding: 14px 19px;
            font-family: $ff-text;
            font-size: 14px;
            letter-spacing: $letter-spacing;
            margin-bottom: 1.5rem;
            outline: none;
        }

        & textarea {
            min-height: 8rem;
            resize: vertical;
        }

        & .buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            padding: 0 20px;
            margin: 0;
        }

        .btn {
            min-width: 226px;
            padding: 6px 19px;
            font-family: $ff-header;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: $letter-spacing;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid $color-basic;
            background: transparent;
            color: $color-basic;
            transition: background 0.2s, color 0.2s, opacity 0.2s ease-in-out;
        }

        .btn.primary {
            background: $color-primary;
            color: $color-bg;
            border: none;
        }

        .btn.primary:hover {
            color: $color-basic;
            border: 1px solid $color-basic;
        }

        .btn.secondary {
            min-width: 176px;
            color: $color-primary;
            border: 1px solid $color-bg;
        }

        .btn.secondary:hover {
            color: $color-basic;
            border: 1px solid $color-basic;
        }
    }

}


@media (max-width: $mobile-bp) {
    .contact-form .buttons {
        flex-direction: column;
    }
}
