
@keyframes floatUpBack {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
  
    50% {
        transform: translate(0, -20px) scale(1.1);
        opacity: 1;
    }
  
    100% {
        transform: translate(0, 0) scale(0.5);
        opacity: 0;
    }
  }