@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Iceland&display=swap');
@import "tailwindcss";

:root {
  /* colors */
  --color-basic: #FFFFFF;
  --color-primary: #FF1C78;
  --color-primary-rgb: 255, 28, 120;
  --color-secondary: #00E1FF;
  --color-muted-text: #7A7A7A;
  --color-muted-bg: #242425;
  --color-bg: #000000;

  /* fonts */
  --ff-text: "Iceland", sans-serif;
  --font-geist-sans: "Big Shoulders", sans-serif;

  --letter-spacing: 0.075;

  /* font sizes */
  --fz-hero-title: 11.11em;
  --fz-hero-title-caps: 13.88em;
  --fz-hero-title-big: 16.66em;
  --fz-primary-text: 1em;
  --fz-secondary-text: 1.44em;
  --fz-h1: 1.56em;
  --fz-h2: 1em;
  --fz-h3: 0.8em;
  --fz-basic-text: 0.77em;
  --fz-small-text: 0.39em;


  /* radius & shadow */
  --radius: 0.75rem;
  --shadow-md: 0 2px 6px rgba(0 0 0 / 0.35);

  /* media query break points */
  --mobile-bp: 393px;
  --tablet-bp: 834px;
  --full-screen-bp: 1080px;

  /* gradient */
  --corner-gradient: linear-gradient(242deg, rgba(var(--color-primary-rgb), 0.3) 0%, rgba(var(--color-primary-rgb), 0.00) 35%);
  --center-gradient: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0) 0%, rgba(var(--color-primary-rgb), 0.17) 50%, rgba(var(--color-primary-rgb), 0) 100%);
}

body {
  max-height: 100vh;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-basic);
  font-family: var(--ff-text);
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  max-width: 583px;
  max-height: 309px;
  width: 100%;
  height: 100%;
  background: var(--corner-gradient);
  pointer-events: none;
  z-index: 10;
}

/* top bar */

